@charset "UTF-8";

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	overflow: hidden;
}

html {
	font-family: "BMJUA";
}

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	margin: 0;
}

input {
	font-family: "BMJUA";
	color: #4c4c4c;
	
	box-shadow: none;
	font-size: 1em;
	border: none;
}

input:focus {
	outline: none;
	color: #4c4c4c;
}

input::placeholder {
	font-family: "BMJUA";
}

button {
	background: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer;
	outline: none;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	min-width: 1100px;
}

.main {
	width: 1100px;
	height: 0;
	margin: 0 auto;
}

.catchme {
	background-image: url("/image/main-logo2.png");
	width: 407px;
	height: 124px;
	position: relative;
	top: 150px;
	margin: 0 auto;
}

.catchme>a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	font-size: 24px;
}

.catchme>a>span {
	color: transparent;
}

.login {
	position: absolute;
	top: 20px; right : 50px; width : 38px;
	height: 38px;
	background: #a3c1ff;
	border-radius: 20px;
	cursor: pointer;
	width: 38px;
	right: 84px;
}

.login-icon {
	background-image: url("/image/profile.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 28px;
	margin: 7px 9px 1px 9px;
}

.search-box {
	position: relative;
	display: flex;
	top: 250px;
	width: 672px;
	margin: 0 auto;
}

.search-area {
	background: #f1f1f1;
	width: 100%;
	height: 46px;
	border: 1px solid #4876ef;
	border-radius: 25px;
}

.search-area>input {
	position: absolute;
	float: right;
	right: 55px;
	
	width: 35%;
	height: 40px;
	padding: 3px 0px;
	background: none;
}

.search-area>input::placeholder {
	color: #4c4c4c;
	font-size: 15px;
}

.search-icon {
	position: absolute;
	background-image: url("/image/search.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	top: 12px;
	left: 620px;
}

.search-close {
	
	position: absolute;
	top: 17px;
	left: 625px;
	
	background-image: url("/image/search-close.png");
	
	width: 18px;
	height: 12px;
	
	cursor: pointer;
}

.login-modal {
	position: absolute;
	top: 71px;
	right: 61px;
	width: 289px;
	height: 356px;
	background: white;
	box-shadow: 0px 1px 4px 0px black;
	border-radius: 10px;
	display: none;
}

.social {
	position: absolute;
	top: 284px;
	left: 19px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 250px;
	margin: 0 auto;
}

.naver {
	background-image: url("/image/social-login/naver.png");
	width: 47px;
	height: 46px;
	border-radius: 30px;
	cursor: pointer;
}

.kakao {
	background-image: url("/image/social-login/kakao.png");
	width: 48px;
	height: 48px;
	border-radius: 30px;
	cursor: pointer;
}

.google {
	background-image: url("/image/social-login/google.png");
	background-color: white;
	width: 48px;
	height: 48px;
	border-radius: 30px;
	cursor: pointer;
}

.active {
	display: block;
}

.profile {
	background-image: url("/image/warning.png");
	width: 65px;
	height: 65px;
	
	position: absolute;
    top: 30px;
    left: 120px;
}

.login-info {
	position: relative;
	top: 9px;
	
	width: 250px;
	margin: 0 auto;
}

.login-info .customer-form {
	top: 30px;
    position: relative;
}

.login-info .company-form {
	top: 30px;
    position: relative;
    display: none;
}

.login-info .id > input {
	width: 90%;
	padding: 7px 12px 7px;
	font-size: 13px;
}

.login-info .pwd > input {
	width: 90%;
	padding: 7px 12px 7px;
	font-size: 13px;
}

.login-info > h4 {
	position: absolute;
	font-size: 18px;
	top: -40px;
	left: 95px;
}

.id {
	height: 30px;
	margin: 10px 0;
	
	border: 1px solid #bfbfbf;
}

.pwd {
	height: 30px;
	margin: 10px 0;
	
	border: 1px solid #bfbfbf;
}

.login-ch {
	position: relative;
	
	font-family: "BMJUA";
	
	width: 250px;
	height: 37.44px;
	margin: 0;
	
	border: 1px solid #bfbfbf;
	
	text-align: center;
    background: #bfbfbf;
    color: #f6f3f3;
    letter-spacing: 2px;
    font-size: 15px;
    
    cursor: pointer;
}

.ready {
	background: #4876ef;
}

.signup-form {
	justify-content: space-around;
	
	position: relative;
    display: flex;
    width: 210px;
    top: 72px;
    
    margin: 0 auto;
}

.signup-form > a {
	padding: 0 21px;
	color: #545353;
    text-decoration: none;
    float: right;
    font-size: 13px;
}

.info-remember {	
	position: relative;
	top: 50px;
	left: 19.5px;
	float: left;
	width: 131px;
}

.info-remember > input {
	width: 14px;
	height: 14px;
}

.remember {
	position: absolute;
	top: 3px;
	margin-left: 8px;
	font-size: 13px;
}

.region-search {
	position: absolute;
	top: 16.5px;
	left: 40px;
	color: #4876ef;
	
	cursor: pointer;
}

.job-search {
	position: absolute;
	top: 12.5px;
	left: 220px;
	color: #4876ef;
	
	cursor: pointer;
}

.region {
	position: absolute;
    width: 670px;
    height: 350px;
    background-color: #f1f1f1;
    display: none;
    z-index: 1;
    border: 1px solid #4876ef;
    border-radius: 24px;
}

.job {
	position: absolute;
    width: 670px;
    height: 350px;
    background-color: #f1f1f1;
    display: none;
    z-index: 1;
    border: 1px solid #4876ef;
    border-radius: 24px;
}

.member {
	
	list-style: none;
	
    display: flex;
    padding: 0;
	
}

.member > li {
	position: absolute;
	cursor: pointer;
	box-sizing: border-box;
	
	font-size: 14px;
}

.customer {
	padding: 10px 33.5px 5px;
	
}

.customer-form {
	top: 44px;
    position: absolute;
}

.company {
	padding: 10px 33.5px 5px;
	left: 134px;
	
}

.click {
	
	color: #4876ef;
	
	border-radius: 8px 8px 0px 0px;
	border: 1px solid #4876ef;
	border-bottom: none;
}

.out {
	
	color: #2d2d2d;
	
}

#pointer {
	position: absolute;
	
	top: -12px;
	right: 30px;
	
	background-image: url("/image/pointer.png");
	width: 23px;
	height: 13px;
	
}

.line1 {
	position: absolute;
    height: 21px;
    border: 1px solid #bfbfbf;
    top: 13px;
    left: 180px;
}

.line2 {
	position: absolute;
    height: 21px;
    border: 1px solid #bfbfbf;
    top: 13px;
    left: 360px;
}