@charset "UTF-8";

body {
	overflow: hidden;
}

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	margin: 0;
}

input {
	box-shadow: none;
	font-size: 1em;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	border: none;
}

input:focus {
	outline: none;
}

button {
	background: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer;
	outline: none;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	min-width: 1100px;
}

.main {
	width: 1100px;
	height: 0;
	margin: 0 auto;
}

.catchme {
	background-image: url("/image/main-logo.png");
	width: 407px;
	height: 124px;
	position: relative;
	top: 150px;
	margin: 0 auto;
}

.catchme>a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	font-size: 24px;
}

.catchme>a>span {
	color: transparent;
}

.login {
	position: absolute;
	top: 20px; right : 50px; width : 38px;
	height: 38px;
	background: #a3c1ff;
	border-radius: 20px;
	cursor: pointer;
	width: 38px;
	right: 50px;
}

.login-icon {
	background-image: url("/image/profile.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 28px;
	margin: 7px 9px 1px 9px;
}

.search-box {
	position: relative;
	display: flex;
	top: 250px;
	width: 672px;
	margin: 0 auto;
}

.search-area {
	background: #f1f1f1;
	width: 100%;
	height: 46px;
	box-sizing: border-box;
	border: 1px solid #bfbfbf;
	border-radius: 25px;
}

.search-area>input {
	width: 80%;
	height: 40px;
	padding: 3px 0px 3px 66px;
	background: none;
}

.search-icon {
	position: absolute;
	background-image: url("/image/search.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	top: 10px;
	left: 20px;
}

.login-modal {
	position: absolute;
	top: 65px;
	right: 45px;
	width: 300px;
	height: 400px;
	background: white;
	box-shadow: 0px 1px 4px 0px black;
	border-radius: 10px;
	display: none;
}

.social {
	position: absolute;
	top: 285px;
	left: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 250px;
	margin: 0 auto;
}

.naver {
	background-image: url("/image/social-login/naver.png");
	width: 47px;
	height: 46px;
	border-radius: 30px;
	box-shadow: 1px 1px 1px 0px black;
	cursor: pointer;
}

.kakao {
	background-image: url("/image/social-login/kakao.png");
	width: 48px;
	height: 48px;
	border-radius: 30px;
	box-shadow: 1px 1px 1px 0px black;
	cursor: pointer;
}

.google {
	background-image: url("/image/social-login/google.png");
	background-color: white;
	width: 48px;
	height: 48px;
	border-radius: 30px;
	box-shadow: 1px 1px 1px 0px black;
	cursor: pointer;
}

.active {
	display: block;
}

.profile {
	background-image: url("/image/warning.png");
	width: 65px;
	height: 65px;
	
	position: absolute;
    top: 30px;
    left: 120px;
}

.login-info {
	position: relative;
	top: 45px;
	
	width: 250px;
	margin: 0 auto;
}

.login-info > div > input {
	width: 90%;
	padding: 7px 12px 7px;
	font-size: 13px;
}

.login-info > h4 {
	position: absolute;
	font-size: 18px;
	top: -40px;
	left: 95px;
}

.id {
	height: 30px;
	margin: 10px 0;
	
	border: 1px solid #bfbfbf;
}

.pwd {
	height: 30px;
	margin: 10px 0;
	
	border: 1px solid #bfbfbf;
}

.login-ch {
	width: 250px;
	height: 45px;
	margin: 0;
	
	border: 1px solid #bfbfbf;
	
	text-align: center;
    background: #bfbfbf;
    color: #f6f3f3;
    letter-spacing: 2px;
    font-size: 15px;
    
    cursor: pointer;
}

.ready {
	background: #0070af;
}

.signup-form {
	position: relative;
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin: 0 auto;
    top: 13px;
}

.signup-form > a {
	color: #545353;
    text-decoration: none;
    float: right;
    font-weight: 600;
    font-size: 13px;
}