@charset "UTF-8";

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
}

body {
	position:relative;
}

.side-bar {
  z-index:20;
  position:fixed;
  background-color:#fff;
  top:0;
  left:0;
  bottom:0;
  width:271px;
  border-right:1px solid #bfbfbf;

}

.side-bar > .logo-box {
  width:55%;
  overflow:hidden;
  padding:10%;
}

.side-bar > .logo-box img {
  width:100%;
}

.side-bar > .side-menu {

  width: 80%;
  height:100%;
  padding:0 10% 10% 10%;
}

.side-bar > .side-menu ul {
  font-size:1.2rem;
  color:#656565;
  letter-spacing:1px;
}

.side-bar > .side-menu ul li {
  margin-top:8px;
  
}

.side-bar > .side-menu ul li a {
  display:block;
  position:relative;
  padding:30px 0 30px 15px;
  height:44px;
  box-sizing:border-box;
}

.side-bar > .side-menu ul li a:before {
  display:block;
  position:absolute;
  z-index:1;
  top:20px;
  left:0;
  width:220px;
  height:44px;
  border-radius:5px;
  background-color:#656565;
  transition:opacity 0.2s;
  content:"";
  opacity:0;
}

.side-bar > .side-menu ul li a:hover:before {
  opacity:0.2;
}

.side-bar > .side-menu i {
  margin-right:15px;
}

.side-bar li  i {
  width:30px;
}

.myhome {
	
	transform: translateX(32%);
	
  height:1700px;
  margin-top:50px;
}

.myhome > .title {
	font-family: 'NanumBarunGothic', sans-serif;
	
  color:#373f57;
  font-size:36px;
  font-weight:bold;
  letter-spacing:3px;
  padding-top:50px;
  line-height:50px;
  
  width: 1100px;
  margin: 0 auto;
}

.news-list {
	
	font-family: 'NanumBarunGothic', sans-serif;

	margin-top:50px;
	margin-left:30px;
}

.news-list ul {
	display:flex;
	flex-wrap:wrap;
}

.news-list ul li {
	margin-bottom:25px;

	width:190px;
	height:200px;
	margin-right:25px;
	border:1px solid #bfbfbf;
	
	 
}

.news-list ul li:hover {
	  text-decoration:underline;
  text-underline-position:under;

}

.news-list ul li:hover .img img {
	  -webkit-transform: scale(1.15);
	  filter: brightness(80%); 
}

.news-list ul li .url {
	color:#4876ef;
	font-size:16px;
	display:block;
	margin-top:11px;

}

.news-list ul li .img {
	width:190px;
	height:110px;
	overflow:hidden;
	display:block;
	margin:0 auto;
	border:1px solid #bfbfbf;
}

.news-list ul li .img img {
	width:100%;
	height:100%;
	object-fit: cover;
	transition: all 0.3s ease-in-out; 
	 -webkit-transform: scale(1);
	 filter: brightness(100%); 
}

